*{
    box-sizing: border-box;
}

.grid_container{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: 100vh;
}
.grid-item{
    margin: 10px;
}  
.grid_image{
    width: 25em;
    height: 18em;
    margin-top: 60px;
    border-radius: 50px;
}
.name{
    color: rgba(68, 198, 250, 0.842);
    font-size: 40px;
    background: rgba(0, 0, 0, 0.596);
}

@media(max-width: 1300px){
    /* .grid_container{
        grid-template-columns: auto auto;
    } */
    .grid_image{
        width: 20em;
        height: 13em;
    }
    .name{
        font-size: 30px;
    }
}
@media(max-width: 1024px){
    .grid_container{
        grid-template-columns: auto auto;
    }
    .grid_image{
        width: 23em;
        height: 16em;
        margin-top: 20px;
    }
    .name{
        font-size: 33px;
    }
    .grid-item{
        margin: 5px;
    }
}
@media(max-width: 780px){
    .grid_container{
        grid-template-columns: auto;
    }
    .grid_image{
        width: 24em;
        height: 17em;
        margin-top: 10px;
    }
    .name{
        font-size: 30px;
    }
    .grid-item{
        margin: 3px;
    }
}
@media(max-width: 370px){
    .grid_container{
        grid-template-columns: auto;
        width: 100%;
    }
    .grid_image{
        width: 100%;
        margin: auto;
        margin-top: 10px;
    }
    .name{
        font-size: 30px;
    }
    .grid-item{
        margin: 3px;
    }
}